<div class="nav-bar">
  <div class="left-part">
    <button mat-mini-fab id="nav-left-button"><i class="material-icons" style="font-size:18px;">more_vert</i></button>
    <h4>Listado de Peliculas</h4>
  </div>
  <div class="right-part">
    <div class="right-part" id="nav-right">
      <mat-form-field color="#ff0000">
        <input matInput type="search" placeholder="Buscar" (click)="search()" [(ngModel)]="txtInput">
      </mat-form-field>
      <button mat-mini-fab class="search-btn" (click)="search()"><i class="material-icons" style="font-size:18px;">search</i></button>
      
      
      <button mat-icon-button><i class="material-icons icon-btn">person</i></button>
      
    </div>
    <div id="menu">
      <button mat-icon-button (click)="menuClick()"><i class="material-icons">menu</i></button>
    </div>
  </div>
</div>
